@page
@model ToDoListApp.Pages.ListModels.EditModel
@{
    string testQueryStringID = null;
    if (Request.Query.ContainsKey("Id"))
    {
        testQueryStringID = Request.Query["Id"].ToString();
    }
    else
    {
        testQueryStringID = "missing Id";

    }

    Boolean itemInArrayItems = true;
    if (Model.ArrayItems.Count > 0)
    {
        itemInArrayItems = false;
    }
}



<style>
    .sample-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 18rem;
        box-shadow: 7px 1rem 1rem 1px;
        border: 1px solid #dadada;
        border-radius: 4px;
    }
</style>


<div class="container">
    <div class="sample-box ">
        The Id from the Query String is :
        <h3>
            @testQueryStringID
        </h3>
    </div>
</div>

<br />
<br />
<div class="border backgroundwhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-dark">@Model.ToDoList.NAME</h2>
        </div>
    </div>
    <br />
    <div>
        @if (itemInArrayItems)
        {
            <div class="border-info">
                <div class="col-6">
                    <h5 class="text">No items exist! Please add new items!</h5>
                </div>
            </div>
            <form id="form" method="post">
                <div class="form-group col-6">
                    <label for="Items.ITEM" class="text-dark">New Item: </label>
                    <input type="text" id="item" class="form-control" asp-for="Items.ITEM" />
                    <input type="hidden" asp-for="Items.LIST_ID" value="@testQueryStringID" />
                    <span class="text-danger" id="message" hidden>* You have entered invalid input! Please try again!</span>
                </div>
                <div class="btn-toolbar">
                    <div class="btn-group mr-2">
                        <button type="submit" class="btn btn-outline-primary" asp-page-handler="submit">Add Item</button>
                    </div>
                    <div class="btn-group mr-2">
                        <a class="btn btn-outline-info" href="NewToDoList">Back to Lists</a>
                    </div>
                </div>
            </form>
        }
        else
        {
            <form method="post">
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th style="width:20px">
                            <label>Select</label>
                        </th>
                        <th>
                            <label>Id</label>
                        </th>
                        <th>
                            <label>Item</label>
                        </th>
                    </tr>
                    @foreach (var item in Model.ArrayItems)
                    {
                        <tr>
                            <td style="width:20px">
                                <input name="AreChecked" type="checkbox" id="@item.ITEM_ID" value="@item.ITEM_ID" />
                            </td>
                            <td>
                                <label>@item.ITEM_ID</label>
                            </td>
                            <td>
                                <label>@item.ITEM</label>
                            </td>
                        </tr>
                    }
                </table>
                <div class="btn-group mr-2">
                    <button type="submit" class="btn btn-outline-success" asp-page-handler="remove">Remove</button>
                </div>
            </form>
            <br />
            <form id="form" method="post">
                <div class="form-group col-6">
                    <label for="Items.ITEM" class="text-dark">New Item: </label>
                    <input type="text" id="item" class="form-control" asp-for="Items.ITEM" />
                    <input type="hidden" asp-for="Items.LIST_ID" value="@testQueryStringID" />
                    <span class="text-danger" id="message" hidden>* You have entered invalid input! Please try again!</span>
                </div>
                <div class="btn-toolbar">
                    <div class="btn-group mr-2">
                        <button type="submit" class="btn btn-outline-primary" asp-page-handler="submit">Add Item</button>
                    </div>
                    <div class="btn-group mr-2">
                        <a class="btn btn-outline-info" href="NewToDoList">Back to Lists</a>
                    </div>
                </div>
            </form>
        }
        <br />
    </div>
</div>


<script type="text/javascript">
    const form = document.getElementById('form');
    const input = document.getElementById('item');
    const alert = document.getElementById('message');

    input.oninvalid = invalid;
    form.onsubmit = submit;

    function invalid(event) {
        alert.removeAttribute('hidden');
    }

    function submit(event) {
        //event.preventDefault();
    }
</script>