@page
@model ToDoListApp.Pages.ListModels.EditModel
@{
    string testQueryStringID = null;
    if (Request.Query.ContainsKey("Id"))
    {
        testQueryStringID = Request.Query["Id"].ToString();
    }
    else
    {
        testQueryStringID = "missing Id";

    }

    Boolean itemInArrayItems = true;
    foreach (var item in Model.ArrayItems)
    {
        if (item.LIST_ID == Int32.Parse(testQueryStringID))
        {
            itemInArrayItems = false;
        }
    }
}



<style>
    .sample-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 18rem;
        box-shadow: 7px 1rem 1rem 1px rgb(0 0 0 / 28%);
        border: 1px solid #dadada;
        border-radius: 4px;
    }
</style>





<div class="container">
    <div class="sample-box ">
        The Id from the Query String is :
        <h3>
            @testQueryStringID
        </h3>
    </div>
</div>

<br />
<br />
<div class="border backgroundwhite">
    <div class="row">
        <div class="col-6">
            @foreach (var item in Model.ArrayToDoList)
            {
                if (item.LIST_ID == Int32.Parse(testQueryStringID))
                {
                    <h2 class="text-dark">@item.NAME</h2>
                }
            }
        </div>
    </div>
    <br />
    <div>
        @if (itemInArrayItems)
        {
            <div class="border-info">
                <div class="col-6">
                    <h5 class="text">No items exist. Please add new items.</h5>
                </div>
            </div>
            <br />
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Items.ITEM" />
                    <input type="hidden" asp-for="Items.LIST_ID" value="@testQueryStringID" />
                    <span asp-validation-for="Items.ITEM"></span>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-outline-primary" asp-page-handler="submit">Add Item</button>
                </div>
            </form>
        }
        else
        {
            <form method="post">
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th style="width:20px">
                            <label>Select</label>
                        </th>
                        <th>
                            <label>Id</label>
                        </th>
                        <th>
                            <label>Item</label>
                        </th>
                    </tr>
                    @foreach (var item in Model.ArrayItems)
                    {
                        if (item.LIST_ID == Int32.Parse(testQueryStringID))
                        {
                            <tr>
                                <td style="width:20px">
                                    <input name="AreChecked" type="checkbox" id="@item.ITEM_ID" value="@item.ITEM_ID" />
                                </td>
                                <td>
                                    <label>@item.ITEM_ID</label>
                                </td>
                                <td>
                                    <label>@item.ITEM</label>
                                </td>
                            </tr>
                        }
                    }
                </table>
                <button type="submit" class="btn btn-outline-success" asp-page-handler="remove">Remove</button>
            </form>
            <br />
            <form method="post">
                <div class="form-group">
                    <label for="Items.ITEM" class="text-dark">New Item: </label>
                    <input type="text" class="form-control" asp-for="Items.ITEM" />
                    <input type="hidden" asp-for="Items.LIST_ID" value="@testQueryStringID" />
                    <span asp-validation-for="Items.ITEM"></span>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-outline-primary" asp-page-handler="submit">Add Item</button>
                </div>
            </form>
        }
    </div>

    <br />
    <div class="row">
        <div class="col-6">
            <a class="btn btn-outline-info" href="NewToDoList">Back to Lists</a>
        </div>
    </div>
</div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}